# Oxylabs Gateway & Credentials
OXY_GATEWAY=ddc.oxylabs.io
PROXY_USER=
PROXY_PASS=

# Your assigned Ports
OXY_PORT_1=8001
OXY_PORT_2=8002
OXY_PORT_3=8003
OXY_PORT_4=8004
OXY_PORT_5=8005

# If you are using another proxy provider research what you .env file should look like for your proxy provider.
# You will only use the .env file for the proxy configuration
